/* white
rgb(244, 241, 234)
rgb(56, 33, 16)
rgb(0, 99, 93)
rgb(30, 25, 21)
black */

body {
    font-family: sans-serif;
    margin:0;
    background-color: #E8E0D5;
}

.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  rgb(213, 193, 170);
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    z-index: 10;
}

#logo {
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
#logo:hover{
    transform: scale(0.9);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.header-right {
    display: flex;
    gap: 10px;
    color: #3f271e;
}

.top-bg {
    background-repeat:repeat;
    background-size: cover;
    height: 150px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.sidebar {
    width: 200px;
    background-color: rgb(213, 193, 170);
    position: fixed;
    top: 0;
    left: -220px;
    height: 100%;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    padding-top: 30px;
    transition: left 0.3s;
    z-index: 999;
}
.sidebar ul {
    list-style: none;
    padding: 0px;
}
.sidebar ul li {
    padding: 30px 30px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: #3f271e;
}

.sidebar ul li:hover {
    background-color: #f3e7d9;
    color: #5a3224;
}
#menu-toggle {
    cursor: pointer;
    color: #5c3a2e;
    font-size: 30px;
}

.main-container {
    display: flex;
    margin: 50px;
    align-items: flex-start;
    justify-content: space-between;
}
.profile-container{
    bottom: 150px;
    position: relative;
    z-index: 2;
}
.pic-cont{
    background-color: #7b5130;
    height: 148px;
    display: flex;
}
#profilepic{
    border-radius: 50%;
}
#edit-icon {
    cursor: pointer;
    background-color: #f7e0ce;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #5c3a2e;
    bottom: 10px;
    right: 10px;
    position: relative;
}

.form-group {
    margin-bottom: 16px;
    width: 300px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    text-align: center;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #a47148;
    border-radius: 8px;
    background-color: #fff9f5;
    font-size: 14px;
}

.button-group {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}
.signout-btn, .delete-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}
.signout-btn {
    background-color: #d8b89d;
    color: #5c3a2e;
}
.delete-btn {
    background-color: #a47148;
    color: #fffaf6;
}

.history-btn {
    margin: 20px;
    display: block;
    background-color: #fff2e6;
    border: 2px dashed #a47148;
    color: #6d4c41;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    top: 100px;
    transition: all 0.3s ease;
}

.history-btn:hover {
    background-color: #f7e0ce;
    transform: scale(1.03);
}


.history-table-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff9f5;
    padding: 30px;
    border: 1.5px solid #a47148;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(165, 105, 79, 0.15);
    position: relative;
    bottom: 200px;
    z-index: 2;
}

.history-table-container table {
    width: 100%;
    border-collapse: collapse;
}
.history-table-container th,
.history-table-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dabfa5;
    font-size: 14px;
    color: #5e3f30;
}

.history-table-container th {
    background-color: #fceee3;
    color: #6d4c41;
}
.book-cover {
    width: 60px;
    height: auto;
    border-radius: 4px;
}
.on-the-way{
    text-shadow: 0 0 8px rgb(56, 240, 56);
}
.delivered{
    text-shadow: 0 0 8px yellow;
}
