.review-your-order
{
  background-color: #d5c1aa;
  color: black;
  margin-top: 150px;
  margin-left: 70px;
  margin-right: 10px;
  width: 250px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-details
{
  position: relative;
  border-color: #d5c1aa;
  background-color: #d5c1aa;
  border-width: 3px;
  border-style: solid;
  width: 650px;
  margin-top: 15px;
  margin-left: 70px;
  display: inline-block;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-right: 150px;
}
.order-details:hover
{
  margin-top: 10px;
  margin-left: 65px;
  box-shadow: 5px 8px 4px rgba(0, 0, 0, 0.4);
}

.book-image
{
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 35px;
  width: 250px;
  height: 390px;
  display: inline-block;
}
.book-name
{
  font-size: 30px;
  font-weight: 700;
  position: absolute;
}
.rating
{
  display: flex;
  align-items: center;
  font-size: 50px;
  position: absolute;
  left: 320px;
  bottom: 230px;
}
.price-details
{
  color: black;
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 265px;
  bottom: 110px;
}
.delete-button
{
  font-size: 35px;
  font-weight: 700;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #d5c1aa;
  color: rgb(210, 47, 47);
  border: none;
  position: absolute;
  right: 0px;
  bottom: 20px;
}
.delete-button:hover
{
  color: rgb(162, 1, 1);
  cursor: pointer;
}
.delete-button:active
{
  opacity: 0.5;
}