.review_your_order
{
  background-color: rgba(213, 193, 170, 0.65);
  color: #4a3728;
  margin-top: 150px;
  margin-left: 70px;
  margin-right: 10px;
  width: 250px;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_details
{
  position: relative;
  border-color: rgba(213, 193, 170, 0.65);
  background-color: rgba(213, 193, 170, 0.65);
  border-width: 4px;
  border-style: solid;
  width: 650px;
  margin-top: 15px;
  margin-left: 70px;
  display: inline-block;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-right: 150px;
}
.order_details:hover
{
  margin-top: 8px;
  margin-left: 65px;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
}

.book_image
{
  margin-top: 5px;
  margin-left: 40px;
  margin-right: 35px;
  width: 250px;
  height: 390px;
  display: inline-block;
}
.book_name
{
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  color: #4a3728;
}
.rating
{
  display: flex;
  align-items: center;
  font-size: 50px;
  position: absolute;
  left: 320px;
  bottom: 230px;
}
.price_details
{
  color: #4a3728;
  padding: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 265px;
  bottom: 110px;
}
.delete_button
{
  font-size: 35px;
  font-weight: 700;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(213, 193, 170, 0);
  color: rgb(210, 47, 47);
  border: none;
  position: absolute;
  right: 0px;
  bottom: 20px;
}
.delete_button:hover
{
  color: rgb(162, 1, 1);
  cursor: pointer;
}
.delete_button:active
{
  opacity: 0.5;
}