body{
    width: 100%;
    height: 300vh;
    background-color: rgb(244, 241, 234);
    margin-top: 110px;
}
.header{
    background-color: rgb(213, 193, 170);
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.sidebar{
    border-color: black;
    border-right: 10px;
    border-width: 30px;
    background-color: rgb(244, 241, 234);
    width: 260px;
    height: 500px;
    position: fixed;
    row-gap: 10px;
    margin-left: 20px;
    padding: 10px;
}
.book_img{
    width: 260px;
    margin-bottom: 10px;
    padding-bottom: 0px;
    display: flex;
    border: none;
    border-radius: 10px;
    border-top: 3px solid rgba(56, 33, 16, 0.8);
    border-left: 3px solid rgba(56, 33, 16, 0.8);
}
.book_price{
    margin-top: 15px;
    margin-right: 4px;
    height: 40px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 6px;
    font-size: 30px;
    font-weight: 300px;
    display: flex;
    justify-self: center;
    align-items: center;
    color: rgb(56, 33, 16);
    width: 247px;
    border-radius: 50px;
}
.buy{
    justify-self: center;
}
.buy_button{
    margin-bottom: 50px;
    background-color: rgb(56, 33, 16);
    color: rgb(244, 241, 234);
    height: 40px;
    width: 250px;
    font-size: medium;
    font: 400;
    border-radius: 40px;
    border:none;
    
}
.buy_button:hover{
    background-color: #ba4828;
}
.buy_button:active{
    opacity: 0.8;
}
.old_price{
    margin-right: 5px;
    margin-left: 20px;
}
.book_details{
    /* background-color: rgb(213, 193, 170); */
    border: 3px solid rgb(56, 33, 16);
    /* border-color: rgb(244, 241, 234)*/
    background-color: rgb(244, 241, 234);
    /* border-width: 5px; */
    height: 800px;
    width: 75%;
    margin-left: 315px;
    flex-direction: column;
    display: flex;
    row-gap: 20px;
    border-radius: 4px;
    margin-top: 70px;
    padding-left: 10px;
}
.book_name{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0px;
    display: flex;
    margin-top: 10px;
    margin-left: 0px;
}
.auther{
    font-weight: 500;
    font-size: 28px;
    width: 1fr;
    display: flex;
    margin-top: -10px;
    margin-left: 0px;
}
.rate_progress2{
    height: 45px;
    width:285px;
    background-color: black;
    margin: 0px;
    display:inline-block;
}
.rate_progress1{
    height: 45px;
    max-width:285px;
    /* width:150px; */
    background-color: gold;
    margin: 0px;
    display:inline-block;
}
.rate_star{
    margin: 0px;
    /* background-color: red; */
    position: absolute;
    display: inline-block;
}
.img_star{
    height: 50px;
    width: 60px;
    margin: -3px;
    border: 0px;
    padding: 0px;
}
.info{
    font:bold;
    font-size: 20px;
    margin-left: 0px;
    border-width: 10px;
    border: solid;
    display: flex;
    background-color: rgb(56, 33, 16);
    color: rgb(244, 241, 234);
    text-overflow: ellipsis;
    overflow: scroll;
    max-lines: 5;
    box-shadow: 0px -5px 10px inset;
    border: none;
    padding: 7px;
    padding-bottom: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.info::-webkit-scrollbar{
    display: none;
}
.more_info{
    display: block;
    justify-items: start;
    justify-content: space-between;
}
.categories{
    font-weight: 500; 
    margin-top: 8px;
    font-size: 30px;
    background-color: rgb(56, 33, 16);
    color: rgb(244, 241, 234);
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
}
.book_stat{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 20px;
    align-items: center;
}
.publisher{
    font-weight: 500; 
    font-size: 30px;
    margin-top: 15px;
    margin-right: 30px;
}
.date{
    font-weight: 500;
    font-size: 30px;
    margin-top: 15px;
}
.star{
    width:30px ;
}
.comment_box{
    margin-top: 18px;
    width: 75%;
    height: 300px;
    /* background-color: rgb(244, 241, 234); */
    margin-left: 325px;
}
.comment{
    background-color: rgb(244, 241, 234);
    column-gap: 10px;
    /* height: 110px; */
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid rgb(56, 33, 16);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.comment_head{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* background-color: rgb(213, 193, 170); */
    background-color: rgb(244, 241, 234);
    /* justify-content: space-between; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.comment_pic{
    display: inline-block;
    margin-top: 10px;
    width: 50px;
    margin-left: 8px;
    
}
.comment_pp{
    width: 50px;
    height: 45px;
    border-radius:25px;
}
.comment_name{
    width: 600px;
    margin-top: 12px;
    margin-left: 10px;
    color: rgb(56, 33, 16);
    font-size: 30px;
    font-weight: 500;
}
.comment_rate{
    display: flex;
    margin-top:12px ;
}
.comment_star{
    width: 40px;
    height: 40px;
    
}
.comment_text{
    background-color: rgb(56, 33, 16);
    color: rgb(244, 241, 234);
    margin-left: 0px;
    display: block;
    font-size: 30px;
    padding-left: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.author_books{
    background-color: rgb(213, 193, 170);
    width: 300px;
    height: 50px;
    border: solid;
    font-size: 40px;
    font-weight: 500;
    border: none;
    margin-top: 35px;
    /* padding-left: 40px; */
    padding-bottom: 5px;
    text-align: center;
    border-radius: 6px;
    border-bottom: 3px solid rgba(56, 33, 16, 0.8);

}
.author_books_div{
    /* background-color: rgb(213, 193, 170); */
    background-color: rgb(222, 219, 210);
    /* border: 2px solid rgb(213, 193, 170); */
    margin-top: 12px;
    width: 1fr;
    height: 350px;
    padding-top: 12px;
    border-radius: 5px;
}
.book_author{
    background-color: rgb(56, 33, 16);
    width: 220px;
    height: 300px;
    margin-top: 12px;
    margin-left: 18px;
    padding-top: 12px;
    display: inline-block;
}
.buttom{
    background-color: black;
}