body{
  margin-left:0px ;
  background-color: rgb(244, 241, 234);
  height: 1500px;
}
.feedback_header{
  background-color: rgb(213, 193, 170);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100px; */
}
.back_button{
  border: 2px solid black; 
  text-align: left;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  font-size: xx-large;
  width: 12%;
  margin: 10px 0px 50px 10px;
}
.back_button:hover{
  background-color: rgb(244, 241, 234);
  color: black;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid black;
  box-shadow: 2px 2px 10px black;
}
.title{
  background-color: rgb(244, 241, 234);
  margin-top: 20px;
  /* display: inline-block; */
  border: 2px solid black;
  padding: 10px;
  width:20%;
  height: 50px;
  margin-left: 27%;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  color: rgb(56, 33, 16);
  box-shadow: 2px 2px 10px black;
}
.feedback_box{
  background-color: rgb(244, 241, 234);
  margin-top: 200px;
  margin-left: 10%;
  width: 60%;
}
.feedback_question{
  background-color: rgb(244, 241, 234);
  margin-top: 20px;
  margin-left: 40%;
  width: 60%;
  height: auto;
  min-height: 45px;
  border-radius: 6px;
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
  color: rgb(56, 33, 16);
  text-align: center;
  box-shadow: 2px 2px 10px black;
}
.feedback{
  background-color:  rgba(56, 33, 16, 0.8);
  display: inline-block;
  margin-top: 50px;
  margin-right: 10px;
  border: solid;
  border-radius: 8px;
  width: 130px;
  height: 50px;
  /* padding-top: 15px; */
  font-size: 20px;
  /* padding-bottom: 10px; */
}
.feedback_e{
  background-color:  rgba(56, 33, 16, 0);
  display: inline-block;
  /* margin-top: 50px; */
  /* margin-right: 10px; */
  /* border: solid; */
  /* border-radius: 8px; */
  width: 100px;
  height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: 30px;
  font-size: 20px;
  color: white;
}

.feedback_answer{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}