.side_bar{
    position:fixed;
    right:0px;
    top:100px;
    background-color: gray;
    width:250px;
    height:670px;
    z-index: 100;
}
.side_header{
    margin:10px;
    width:150px;
    background-color: rgb(119, 118, 118);
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 3px;
    margin-left:10px;
    box-shadow: 10px 0px 8px rgba(0,0,0,.4);
    display: flex;
    align-items: center;
}
.line{
    margin-top:10px;
    margin-bottom: 35px;
    margin-right:50px;
    margin-left:10px;
    border-width:4px;
    border-color:rgb(60, 60, 60);
    height: 1px;
    background-color: black;
    z-index: 50;
}
.side_header_text{
    font-size:30px;
}
.check{
    margin:7px;
    margin-left:20px;
    margin-right:30px;
    background-color: rgb(167, 162, 157);
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius:20px;
    height:25px;
    transition: background-color .7s;
    display: flex;
    align-items: center;
}
.check_text{
    display: inline-block;
    margin-left:0px;
    font-size:20px;
    color:rgba(96, 215, 211, 0.921);
}
.side_check{
    border-radius:200px;
    width:15px;
    margin-right:20px;
    margin-left:10px;
}
.check:hover{
    background-color: black;
}